<%= devise_form_container do %>
  <h2><%= t('.resend_confirmation_instructions') %></h2>

  <%= simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
    <%= f.input :email, autofocus: true, autocomplete: "email",
      label: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>

    <%= f.button :submit, t('.resend_confirmation_instructions'), class: "btn-primary" %>
  <% end %>

  <%= render "devise/shared/links" %>
<% end %>
