<% # Copyright (C) 2018 Colin Darie <colin@darie.eu>, 2018 Jeremy Lecour <jlecour@evolix.fr>, 2018 Evolix <info@evolix.fr> %>
<% # License: GNU AGPL-3+ (see full text in LICENSE file) %>
<%= devise_form_container do %>
  <h2><%= t('.sign_up') %></h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.input :email, autofocus: true, autocomplete: "email" %>

    <%= f.input :password, autocomplete: "off",
                hint: t('devise.shared.minimum_password_length', count: @minimum_password_length) %>

    <%= f.input :password_confirmation, autocomplete: "off" %>

    <%= f.input :locale, label: t('.locale'), collection: available_locales_collection, selected: I18n.default_locale %>

    <%= f.input :tos_accepted, label: t('.tos_acceptance_html') %>

    <%= f.button :submit, t('.sign_up'), class: "btn-primary" %>
  <% end %>

  <%= render "devise/shared/links" %>
<% end %>
