<% # Copyright (C) 2018 Colin Darie <colin@darie.eu>, 2018 Jeremy Lecour <jlecour@evolix.fr>, 2018 Evolix <info@evolix.fr> %>
<% # License: GNU AGPL-3+ (see full text in LICENSE file) %>
<div class="form-row">
  <%- if many_channels_available? %>
    <div class="col-md-2">
      <%= f.label :channel %>
    </div>
  <% end %>

  <div class="<%= notification_variable_col_class %>">
    <%= f.label :recipient %>
  </div>

  <div class="col-md-2">
    <%= f.label :interval, required: true %>
  </div>

  <div class="<%= notification_variable_col_class %>">
    <%= f.label :label %>
  </div>
</div>
