<% # Copyright (C) 2018 Colin Darie <colin@darie.eu>, 2018 Evolix <info@evolix.fr> %>
<% # License: GNU AGPL-3+ (see full text in LICENSE file) %>
<%= devise_form_container do %>
  <h2><%= t('.sign_in') %></h2>

  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= f.input :email, autofocus: true, autocomplete: "email" %>
    <%= f.input :password, autocomplete: "off" %>

    <% if devise_mapping.rememberable? -%>
      <%= f.input :remember_me, as: :boolean %>
    <% end -%>

    <%= f.button :submit, t('.sign_in'), class: "btn-primary" %>
  <% end %>

  <%= render "devise/shared/links" %>
<% end %>
