<% # Copyright (C) 2018 Colin Darie <colin@darie.eu>, 2018 Evolix <info@evolix.fr> %>
<% # License: GNU AGPL-3+ (see full text in LICENSE file) %>
<%= simple_form_for(check) do |f| %>
  <%= f.input :domain,
        autofocus: true,
        input_html: { autocapitalize: :none, autocorrect: :off },
        label: t(".#{check.kind || "generic" }.domain") %>

  <% if check.new_record? %>
    <%= f.input :kind, as: check.kind.present? ? :hidden : :radio_buttons, collection: Check.kinds.keys %>
  <% end %>

  <%= f.input :comment %>
  <%= f.input :vendor %>

  <% if check.ssl? %>
    <%= f.input :round_robin %>
  <% end %>

  <% if check.persisted? %>
    <%= f.input :active %>
  <% end %>

  <p class="mt-5 bd-callout bd-callout-info"><%= t(".notifications_hint") %></p>

  <%= f.association :notifications, as: :check_boxes, label_method: :label, label_text: false %>

  <%= f.fields_for :notifications, new_notification do |nf| %>
    <%= render "notifications/nested_form_headers", f: nf %>
    <%= render "notifications/nested_form", f: nf, notification: new_notification %>
  <% end %>

  <%= f.button :submit, class: "btn-primary mt-5" %>
<% end %>
