<% # Copyright (C) 2018 Colin Darie <colin@darie.eu>, 2018 Evolix <info@evolix.fr> %>
<% # License: GNU AGPL-3+ (see full text in LICENSE file) %>
<div class="mb-4 table-responsive">
  <table class="table checks-table">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">
          <%= t(".th.domain") %>
          <% unless defined?(skip_sort) %>
            <span class="sort-links mx-sm-2 text-nowrap">
              <%== checks_sort_links(:domain) %>
            </span>
          <% end %>
        </th>
        <th scope="col">
          <span class="d-none d-sm-inline"><%= t(".th.expiry_date") %></span>
          <span class="d-inline d-sm-none"><%= t(".th.expiry_date_short") %></span>
          <% unless defined?(skip_sort) %>
            <span class="sort-links mx-sm-2 text-nowrap">
              <%== checks_sort_links(:domain_expires_at) %>
            </span>
          <% end %>
        </th>
        <th scope="col" class="text-right"><%= t(".th.edit") %></th>
      </tr>
    </thead>
    <tbody>
      <% checks.each do |check| %>
        <tr class="check-row <%= check_row_class(check) %>">
          <td class="kind">
            <span class="badge badge-info <%=check.kind%>"><%= t(".kind_labels.#{check.kind}") %></span>
          </td>
          <td>
            <%= check_error(check) if check_in_error?(check) %>
            <strong><%= check.domain %></strong>
          </td>
          <td>
            <% if check.domain_expires_at.present? %>
              <%= content_tag :span, format_date(check.domain_expires_at), class: "d-none d-md-inline" %>
              <%= content_tag :span, format_date(check.domain_expires_at, format: :short), class: "d-inline d-md-none" %>
            <% end %>
          </td>
          <td class="action text-right">
            <%= link_to edit_check_path(check), "data-turbolinks" => false do %>
              <%== Octicons::Octicon.new("pencil").to_svg %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= paginate checks unless defined?(skip_pagination)%>
