<% checks.each do |check| %>
  <div class="mb-4">
    <div>Domain: <%= check.domain %></div>
    <div>Kind: <%= check.kind %></div>
    <div>Created date: <%= l(check.domain_created_at.to_date) if check.domain_created_at.present? %></div>
    <div>Update date: <%= l(check.domain_updated_at.to_date) if check.domain_updated_at.present? %></div>
    <div>Expire date: <%= l(check.domain_expire_at.to_date) if check.domain_expire_at.present? %></div>

    <% if check.comment? %>
      <div>Comment: <%= check.comment %></div>
    <% end %>

    <% if check.vendor? %>
      <div>Vendor: <%= check.vendor %></div>
    <% end %>

    <div>Active: <%= check.active %></div>
    <%= link_to "Edit", edit_check_path(check) %>
  </div>
<% end %>
