<div class="mb-4">
  <table class="table table-checks">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">
          <%= t(".domain") %>
          <%== checks_sort_links(:domain) %>
        </th>
        <th scope="col">
          <%= t(".expiry_date") %>
          <%== checks_sort_links(:domain_expires_at) %>
        </th>
        <th scope="col"><%= t(".edit") %></th>
      </tr>
    </thead>
    <tbody>
      <% checks.each do |check| %>
        <tr class="check-row <%= check_row_class(check) %>">
          <td>
            <span class="badge badge-secondary"><%= check_kind_label(check) %></span>
          </td>
          <td>
            <strong><%= check.domain %></strong>
          </td>
          <td>
            <%= format_utc(check.domain_expires_at) if check.domain_expires_at.present? %>
          </td>
          <td class="action">
            <%= link_to edit_check_path(check) do %>
              <%== Octicons::Octicon.new("pencil").to_svg %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= paginate @checks %>
