<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-10 col-xl-8">
      <% if @checks.empty? && current_scopes.blank? %>
        <div class="alert alert-info">
          <%= t(".no_check_yet_html", new_domain_path: new_check_path(kind: :domain), new_ssl_path: new_check_path(kind: :ssl)) %>
        </div>
      <% else %>
        <h1 class="mb-3 mb-sm-5"><%= t(".title") %></h1>

        <%= render "filters" %>

        <% if @checks.any? %>
          <%= render "table", checks: @checks %>
        <% else %>
          <div class="alert alert-warning"><%= t(".no_matching_check") %></div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
