<p>
  <strong>SSL: <%= check.domain %></strong> (<%= check.consecutive_failures %> erreurs consécutives)
  <br />

  <%- if check.domain_expires_at.present? %>
  Last known expiry date : <%= format_utc(check.domain_expires_at) %>.
  <br />
  <%- end %>

  <%- if check.last_success_at.present? %>
  Last successful check : <%= format_utc(check.last_success_at) %>.
  <br />
  <%- end %>
</p>

<p>
If there is no more SSL endpoint for this domain, please disable
or delete the check by following this link: <br />
<%= edit_check_url(check) %>
</p>

<%= render "check_comment_vendor", check: check %>
