<p>
  Salut,
  <br />
  <br />

  Nous avons rencontré de <strong>multiples erreurs</strong> pendant l'exécution des vérifications du domaine <strong><%= @check.domain %></strong>.
  Nous ne pouvons plus interroger la base Whois pour vérifier la date d'expiration.
</p>

<p>
  <%- if @check.domain_expires_at.present? %>
    La dernière date d'expiration connue est le <%= format_utc(@check.domain_expires_at) %>.
    <br />
  <% end %>

  <%- if @check.last_success_at.present? %>
    Notre dernière vérification réussie a eu lieu le <%= format_utc(@check.last_success_at) %>.
  <% end %>
</p>

<p>
Si vous avez supprimé le domaine ou ne l'avez pas renouvellé, merci de désactiver la vérification associée, avec ce lien :<br /><br />
<%= link_to nil, edit_check_url(@check) %>
</p>
<br />
<%= render "check_comment_vendor" %>


<%= render "footer_recurrent_failures", interval: @notification.interval, check: @check %>
