<p>
  Hi,
  <br />
  <br />

  We had <strong>recurrent failures</strong> while checking the whois database for domain
  <strong><%= @check.domain %></strong>. As of today, we can't anymore verify the expiry date.
</p>

<p>
  Our last known expiry date is <%= format_utc(@check.domain_expires_at) %>.
  <br />
  Our last successful check occured <%= format_utc(@check.last_success_at) %>.
</p>

<p>
If you have deleted the domain or have not renewed it, please disable
or delete the check by following this link: <br /><br />
<%= link_to nil, edit_check_url(@check) %>
</p>
<br />
<%= render "check_comment_vendor" %>


<%= render "footer_recurrent_failures", interval: @notification.interval, check: @check %>
