<% # Copyright (C) 2018 Colin Darie <colin@darie.eu>, 2018 Evolix <info@evolix.fr> %>
<% # License: GNU AGPL-3+ (see full text in LICENSE file) %>
<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <title>Chexpire</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application',  media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  </head>

  <body>
    <%= render 'shared/beta_banner' %>
    <%= render "shared/navbar" %>
    <% if params[:action] == 'home' %>
      <%= render 'shared/home_header' %>
    <%end%>
    <%= render "shared/notices" %>

    <%= yield %>
  </body>
</html>
